<div class="select">
    <select id="filter-location">
        <option value="">-- Select location --</option>
        {% for key, value in jams.locations %}
            <option value="{{ key }}">{{ key }} ({{ value }})</option>
        {% endfor %}
    </select>
</div>
<div class="select">
    <select id="filter-engine">
        <option value="">-- Select engine --</option>
        {% for key, value in jams.engines %}
            <option value="{{ key }}">{{ key }} ({{ value }})</option>
        {% endfor %}
    </select>
</div>
<div class="select">
    <select id="filter-event">
        <option value="">-- Select event --</option>
        {% for key, value in jams.events %}
            <option value="{{ key }}">{{ key }} ({{ value }})</option>
        {% endfor %}
    </select>
</div>
<div class="select">
    <select id="filter-people">
        <option value="">-- Select participant --</option>
        {% for key, value in jams.people %}
            {% if not (key matches '/[A-F0-9]{32}/') %} {# This can probably be done better from index.php #}
                <option value="{{ key }}">{{ key }} ({{ value }})</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div class="select">
    <select id="filter-duration">
        <option value="">-- Select duration --</option>
        <option value="0-1">≤1h</option>
        <option value="2-24">≤1 day</option>
        <option value="25-48">2 days</option>
        <option value="49-72">3 days</option>
        <option value="73-168">1 week</option>
        <option value="169-10000">&gt;1 week</option>
    </select>
</div>
<div class="select">
    <select id="filter-entries">
        <option value="">-- Select entries count --</option>
        <option value="-1">Unknown</option>
        <option value="1-10">≤10</option>
        <option value="11-100">≤100</option>
        <option value="101-1000">≤1000</option>
        <option value="1001-5000">≤5000</option>
        <option value="5001-100000">&gt;5000</option>
    </select>
</div>
<div class="select">
    <select id="filter-year">
        <option value="">-- Select year --</option>
        {% for y in "now"|date("Y").."2016-01-01"|date("Y") %}
            <option value="{{y}}">{{y}}</option>
        {% endfor %}
    </select>
</div>
<br>
<input id="filter-alone" type="checkbox" class="switch is-rounded"/>
<label for="filter-alone">Done alone</label>
<input id="filter-ranked" type="checkbox" class="switch is-rounded"/>
<label for="filter-ranked">Is ranked</label>
{% if nsfw %}
<input id="filter-nsfw" type="checkbox" class="switch is-rounded"/>
<label for="filter-nsfw">Is NSFW</label>
{% endif %}